{% extends "_layouts/base" %}

{% block content %}
  
  <main class="relative">

    {% include "_includes/inside/page_title" %}
  
    <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="bg-white">
  
  
    <div class="py-16 sm:py-20">

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

      <div class="grid grid-cols-3 gap-12">
        <div class="w-auto col-span-1">


        {% include "_includes/inside/inside_side_nav" %}
          
        </div>
        <!-- ... -->
        <div class="w-auto col-span-2">
          


          <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
            Register for Mahanaim
          </h2>
          <p class="mt-4 text-lg leading-6 text-gray-700">At MAHANAIM COLLEGE , we don't just speak change, we make the change.
            We not only provide academic education but also education of the mind and heart. We connect life and learning focused on advancing knowledge and transforming Lives.</p>
      
            <p class="mt-4 text-lg leading-6 text-gray-700">Join Our September Online Classes. We have variety of courses on offer in various campases.
              Send us a Whatsapp Message on 0700 351 048</p>

              <p class="mt-4 text-lg leading-6 text-gray-700">At MAHANAIM COLLEGE , we don't just speak change, we make the change.
                We not only provide academic education but also education of the mind and heart. We connect life and learning focused on advancing knowledge and transforming Lives.</p>
          
                <p class="mt-4 text-lg leading-6 text-gray-700">Join Our September Online Classes. We have variety of courses on offer in various campases.
                  Send us a Whatsapp Message on 0700 351 048</p>
                  
    
        </div>
      </div>


     
    </div>
  </div>
  </div>
  
  

  
    </main>

{% endblock %}