{% extends "_layouts/base" %}

{% block content %}

<!--Hero Section-->
<div class="relative vh-70 bg-gray-900">
    <img class="absolute inset-0 w-full h-full object-cover z-0 " src="/assets/img/images/heroimg.jpg"
        alt="Mahanaim College - TVETA Accredited">

    <div class="max-w-7xl mx-auto relative">

        <div class="py-16">
            <div class="px-4 sm:px-6">
                <div class="md:max-w-4xl">

                    <h1
                        class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:leading-none lg:mt-6 lg:text-5xl xl:text-6xl">
                        <span class="md:block">News</span>
                    </h1>

                </div>
                <div class="md:max-w-xl">
                    <p class="mt-3 text-base text-gray-300 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
                        Get the latest on Mahanaim College
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
    <div class="relative py-16 bg-white overflow-hidden">

        <div class="relative px-4 sm:px-6 lg:px-8">
            <div class="text-lg max-w-prose mx-auto">
                <h1>

                    <span
                        class="mt-2 block text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">JavaScript
                        for Beginners</span>
                </h1>
                <p class="mt-8 text-xl text-gray-500 leading-8">Aliquet nec orci mattis amet quisque
                    ullamcorper neque, nibh
                    sem. At arcu, sit dui mi, nibh dui, diam eget aliquam. Quisque id at vitae feugiat
                    egestas ac. Diam
                    nulla orci at in viverra scelerisque eget. Eleifend egestas fringilla sapien.</p>
            </div>
            <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
                <p>Faucibus commodo massa rhoncus, volutpat. <strong>Dignissim</strong> sed <strong>eget
                        risus
                        enim</strong>. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent
                    donec est. Odio
                    penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa
                    rhoncus, volutpat.
                    Dignissim sed eget risus enim. <a href="#">Mattis mauris semper</a> sed amet vitae sed
                    turpis id.</p>
                <ul>
                    <li>Quis elit egestas venenatis mattis dignissim.</li>
                    <li>Cras cras lobortis vitae vivamus ultricies facilisis tempus.</li>
                    <li>Orci in sit morbi dignissim metus diam arcu pretium.</li>
                </ul>
                <p>Quis semper vulputate aliquam venenatis egestas sagittis quisque orci. Donec commodo sit
                    viverra aliquam
                    porttitor ultrices gravida eu. Tincidunt leo, elementum mattis elementum ut nisl, justo,
                    amet, mattis.
                    Nunc purus, diam commodo tincidunt turpis. Amet, duis sed elit interdum dignissim.</p>
                <h2>From beginner to expert in 30 days</h2>
                <p>Id orci tellus laoreet id ac. Dolor, aenean leo, ac etiam consequat in. Convallis arcu
                    ipsum urna nibh.
                    Pharetra, euismod vitae interdum mauris enim, consequat vulputate nibh. Maecenas
                    pellentesque id sed
                    tellus mauris, ultrices mauris. Tincidunt enim cursus ridiculus mi. Pellentesque nam sed
                    nullam sed diam
                    turpis ipsum eu a sed convallis diam.</p>
                <blockquote>
                    <p>Sagittis scelerisque nulla cursus in enim consectetur quam. Dictum urna sed
                        consectetur neque
                        tristique pellentesque. Blandit amet, sed aenean erat arcu morbi.</p>
                </blockquote>
                <p>Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris
                    semper sed amet
                    vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus
                    varius sit neque
                    erat velit.</p>
                <figure>
                    <img class="w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&auto=format&fit=facearea&w=1310&h=873&q=80&facepad=3"
                        alt="" width="1310" height="873">
                    <figcaption>Sagittis scelerisque nulla cursus in enim consectetur quam.</figcaption>
                </figure>
                <h2>Everything you need to get up and running</h2>
                <p>Purus morbi dignissim senectus mattis <a href="#">adipiscing</a>. Amet, massa quam varius
                    orci dapibus
                    volutpat cras. In amet eu ridiculus leo sodales cursus tristique. Tincidunt sed tempus
                    ut viverra
                    ridiculus non molestie. Gravida quis fringilla amet eget dui tempor dignissim. Facilisis
                    auctor
                    venenatis varius nunc, congue erat ac. Cras fermentum convallis quam.</p>
                <p>Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris
                    semper sed amet
                    vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus
                    varius sit neque
                    erat velit.</p>
            </div>
        </div>
    </div>



</div>


{% endblock %}